<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>История</title>
</head>
<body>

<header class="site-header">
    <div class="header-column">
        <a href="/" class="site-logo">URFUBE</a>
    </div>
    <div class="header-column">
        {% if user.is_authenticated %}
            <a href="/auth/logout">Выйти</a>
            <a href="/upload">Добавить видео</a>
            <a href="/history" class="active">История просмотров</a>
            <p>Пользователь: {{ user.username }}</p>
        {% else %}
            <a href="/auth/login">Войти</a>
        {% endif %}
    </div>
</header>

<main class="main-content history">
    <h1 class="history-title">История просмотров</h1>
    <ul class="history-list">
        {% for video in videos %}
        <li class="history-item">
            <div class="history-col">
                <a href="/video/{{ video.id }}">
                    <img class="history-preview" src="{{ video.preview_url }}" alt="Video Preview">
                </a>
            </div>
            <div class="history-col right">
                <h2 class="history-videoname">{{ video.name }}</h2>
                <h3 class="history-author">Автор: {{ video.author.username }}</h3>
                <p class="history-views">Просмотры: {{ video.views_count }}</p>
                <p class="history-date">Дата загрузки: {{ video.created_at|date:"j.m.o G:i" }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</main>

{% if messages %}
    <ul class="alert-list">
        {% for message in messages %}
            <div class="alert" role="alert">
                <p>
                    {{ message }}
                </p>
            </div>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>